body {
    background: linear-gradient(184deg, #000000, #130000, #0b000c, #000f00);
    animation: dark_gradient 10s ease infinite;
    font-family: 'Share Tech Mono', monospace;
    color: rgb(186, 186, 186);
    text-align: center;
    margin: 0;
}

@keyframes dark_gradient {
    0%{background-position:91% 0%}
    50%{background-position:10% 100%}
    100%{background-position:91% 0%}
}

::selection {
    color: #000000;
    background: gold;
}

.font {
    font-family: 'Share Tech Mono', monospace;
}

.flex-container, #contact {
    display: flex;
}
.button, .button::after, .form-field, .border, .emphasis-border {
    transition: .5s ease all;
}

ul {
    list-style-type: "> ";
}

#profile li {
    margin-bottom: 20px;
    text-align: left;
}

nav {
    justify-content: space-evenly;
    gap: 50px;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 97%;
    background: rgba(6, 11, 48, 0.2);
    backdrop-filter: blur(10px);
    padding: 20px;
    margin-right: 100px;
}

.uppercase, .button {
    text-transform: uppercase;
}

.indent_sm {
    padding-left: 25px;
}

.padding, .button {
    padding: 20px 30px;
}

.border, .button {
    border: solid 3px;
    border-left: solid 10px;
    background: none;
}

.emphasis-border:hover, .emphasis-border:focus-visible {
    border: solid 2px;
    border-right: solid 10px;
}

.emphasis-border:hover, .emphasis-border:focus-visible, .button {
    outline: none;
}

.underline-dashed {
    text-decoration: underline dashed 2px; 
    text-underline-offset: 15px;
}

/* --- SHARE PROPERTIES --- */

.header, #contact, #projects {
    padding: 100px 100px 75px 30px;
}

/* --- BUTTON STYLES & ANIMATIONS --- */

.button {
    flex-grow: 1;

    display: inline-flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;

    text-decoration: none;
    font-size:  20px;    
    cursor: pointer;
}

.button::after {
    position: absolute;
    z-index: -1;
    left: -100%;

    content: "";
    width: 100%;
    height: 100%;

    opacity: 0.3;
}

.button:hover::after{
    left: 0px;
}

/* --- HEADER --- */

.header, h3 {
    display: inline-block;
    text-align: left;
}

.header h1 {
    font-size: 75px;
    letter-spacing:-5px;
    word-spacing: -15px;
    margin-top: -10px;
    margin-bottom: 10px;
}

.header p, .header h3 {
    font-size: 15px;
    margin: 0 auto 10px;
}

.header h3:hover {
    color: rgb(255, 200, 0);
}

/* --- CONTACT --- */

#contact {
    flex-direction: row;
    justify-content: space-evenly;
    gap: 50px;
}

#contact h2 {
    padding-bottom: 40px;
    margin: 0;
}

#contact ul {
    list-style-type: none;
}

.form-field {
    padding: 30px;
    padding-left: 50px;
}
.form-field:hover {
    text-transform: uppercase;
    padding: 20px 50px 50px 20px;
}

.form-field:hover .underline-dashed {
    text-decoration: underline 2px;
}

input, textarea {
    cursor: text;
}

input:focus-visible, input:hover {
    padding-top: 35px;
    padding-bottom: 35px;
}

textarea:focus-visible, textarea:hover {
    padding-top: 40px;
    padding-bottom: 50px;
}
.form h2 {
    display: block;
}
.form {
    flex-direction: column;
    gap: 20px;
}

.padding-between {
    padding: 35px 0;
    gap: 15px;
}

/* --- FOOTER --- */

#footer {
    padding-bottom: 30px;
}

/* --- COLORS --- */

.grey, .grey-hover:hover, .grey-focus:focus-visible {
    border-color: grey;
    color: grey;
}
.grey::after{
    background: grey;
}

.blue, .blue-hover:hover, .blue-focus:focus-visible {
    border-color: rgb(0, 110, 255);
    color: rgb(0, 110, 255);    
}
.blue::after {
    background: rgb(0, 110, 255);
}

.red, .red-hover:hover, .red-focus:focus-visible {
    border-color: red;
    color: red;
}
.red::after {
    background: red;
}

.gold, .gold-hover:hover, .gold-focus:focus-visible {
    border-color: rgb(255, 200, 0);
    color: rgb(255, 200, 0);
}
.gold::after {
    background: rgb(255, 200, 0);
}

.purple, .purple-hover:hover, .purple-focus:focus-visible {
    border-color:rgb(195, 65, 255);
    color:rgb(195, 65, 255);
}
.purple::after {
    background:rgb(195, 65, 255);
}

.green, .green-hover:hover, .green-focus:focus-visible {
    border-color: rgb(0, 255, 0);
    color: rgb(0, 255, 0);
}
.green::after {
    background: rgb(0, 255, 0);
}
