body {
    background-color: black;

    font-family: 'Share Tech Mono', monospace;
    color: rgb(186, 186, 186);
    text-align: center;
}

ul {
	list-style-type: "> ";
}

li {
    margin-bottom: 20px;
    text-align: left;
}

nav {
    display: flex;
    justify-content: space-evenly;
    gap: 50px;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 95%;
    background: rgba(6, 11, 48, 0.2);
    backdrop-filter: blur(10px);
    padding: 20px;
    margin-right: 100px;
}
.uppercase{
    text-transform: uppercase;
}

.indent_sm {
    padding-left: 25px;
}

.border, .button {
    border: solid 3px grey;
    border-left: solid 10px grey;
    color: grey;
    background: none;
    
}

/* --- BUTTON STYLES & ANIMATIONS --- */

.button {
    flex-grow: 1;

    display: inline-flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;

    padding: 20px 30px;

    text-transform: uppercase;
    text-decoration: none;
    font-size:  20px;
    
    transition: .3s ease all;
    cursor: pointer;
}

.button::after {
    position: absolute;
    z-index: -1;
    left: -100%;

    content: "";
    width: 100%;
    height: 100%;

    background: rgb(78, 78, 78);
    opacity: 0.3;

    transition: .3s ease-in-out all;
}

.button:hover::after{
    left: 0px;
    
}

.blue {
    border-color: rgb(0, 110, 255);
    color: rgb(0, 110, 255);    
}
.blue::after {
    background: rgb(0, 110, 255);
}

.red {
    border-color: red;
    color: red;
}
.red::after{
    background: red;
}

.gold{
    border-color: rgb(255, 200, 0);
    color: rgb(255, 200, 0);
}
.gold::after {
    background: rgb(255, 200, 0);
}

.purple{
    border-color:rgb(195, 65, 255);
    color:rgb(195, 65, 255);
}
.purple::after{
    background:rgb(195, 65, 255);
}

.green{
    border-color: rgb(0, 255, 0);
    color: rgb(0, 255, 0);
}
.green::after{
    background: rgb(0, 255, 0);
}

/* --- HEADER --- */

.header {
    display:inline-block;
    text-align: left;
    padding: 100px 100px 75px 30px;
}
.header hr {
    border: none;
    border-top: dashed 2px;
    
    width: 60%;
    margin-top: 0px;
    margin-left: 0;
}
.header h1 {
    font-size: 75px;
    letter-spacing:-5px;
    word-spacing: -15px;

    margin: -10px auto;
}


.header p,.header h3 {
    font-size: 15px;
        
    margin: 0 auto 10px;
}

h3 {
    display: inline-block;
}
.header h3:hover {
    color: rgb(255, 200, 0);
}
