body {
    background-color: black;

    font-family: 'Share Tech Mono', monospace;
    text-align: center;
}

/* --- BUTTON STYLES & ANIMATIONS --- */

.button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;

    border: solid 3px grey;
    border-left: solid 10px grey;
    color: grey;
    background: none;
    padding: 20px 30px;

    text-transform: uppercase;
    font-size:  20px;
    
    transition: .3s ease all;
    cursor: pointer;
}

.button::after {
    position: absolute;
    z-index: -1;
    left: -100%;

    content: "";
    width: 100%;
    height: 100%;

    background: rgb(78, 78, 78);
    opacity: 0.3;

    transition: .3s ease-in-out all;
}

.button:hover::after{
    left: 0px;
}

.blue {
    border-color: blue;
    color: blue;    
}

.blue::after {
    background: blue;
}

.red {
    border-color: red;
    color: red;
}

.red::after{
    background: red;
}

.yellow{
    border-color: yellow;
    color: yellow;
}

.yellow::after {
    background: yellow;
}

.green{
    border-color: green;
    color: green;
}

.green::after{
    background: green;
}

/* --- HEADER --- */

.header h1 {
    font-size: 75px;
    letter-spacing:-5px;
    word-spacing: -15px;

    margin: 0 auto;
}

.header p {
    font-size: 15px;
    
    margin: 0 auto;
}

.header {
    display:inline-block;
    text-align: left;
    padding: 30px 100px 75px 30px;
    margin: 50px auto;
}